# ---------------------------------------- #
# ---------- C++ Configuration ----------- #
# ---------------------------------------- #

If:
  PathMatch: ["cpp/.*"]
CompileFlags:
  Compiler: /home/hyoungjo/miniconda3/envs/cuda/bin/x86_64-conda-linux-gnu-g++
  Add:
    - -I/home/hyoungjo/transformer-cuda/cpp/include

---

# ---------------------------------------- #
# ---------- CUDA Configuration ---------- #
# ---------------------------------------- #

If:
  PathMatch: ["cuda/.*"]
CompileFlags:
  Compiler: /home/hyoungjo/miniconda3/envs/cuda/bin/x86_64-conda-linux-gnu-g++
  Add:
    - --cuda-path=/home/hyoungjo/miniconda3/envs/cuda
    - -I/home/hyoungjo/miniconda3/envs/cuda/include
    - -I/home/hyoungjo/transformer-cuda/cuda/include
    - --cuda-gpu-arch=sm_86
    - -xcuda
